a{
	text-decoration:none; 
}
ul{
	list-style: none;
} 



#logo{
	width: 122px;
	height: 95px;
}

.navbar-ul{
	list-style: none;
	text-decoration: Archy EDT, Thin;
}

#photo{
	width: 1640px;
height: 613px;
}