a{
	text-decoration:none; 
}
ul{
	list-style: none;
} 
img{
	width: 100%;
}



#logo{
	width: 122px;
	height: 95px;
	padding-bottom: 60px;
}

.navbar-ul{
	list-style: none;
	text-decoration: Archy EDT, Thin;
	text-decoration-color: rgba(112, 112, 112, 1);
}

#photo{
	width: 1640px;
	height: 613px;

	margin-top: 107px;
	margin-bottom: 138px;
	margin-left: 140px;
	margin-right: 140px;
}

.text1{
	padding-bottom: 53px;
}
.text2{
	padding-bottom: 70px;
}
.text3{
	padding-bottom: 106px;
}
.text4{
	padding-bottom: 60px;	
}

header a{
	color: rgba(112, 112, 112, 1);
}

.div1{


h1{
	color: rgba(112, 112, 112, 1);
	padding-bottom: 70px;
	padding-left: 152px;
}

.photo4{
	width: 483px;
	height: 282px;
	padding-left: 140px;
	
}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 152px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 152px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 554px;
	padding-bottom:108.5px;
}
}

.div2{  


.photo3{
	width: 483px;
	height: 282px;
	padding-left: 718px;

}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 730.5px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 740.5px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 1132.5px;
	padding-bottom: 108.5px;
}
}

.div3{	

.photo2{
	width: 483px;
	height: 282px;
	padding-left: 1297px;
}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 1309px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 1309px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 1711px;
	padding-bottom: 91px;
}
}

.div4{
h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 56px;
	padding-bottom:53px;
	padding-left: 856px;
	padding-right: 919px;
	top: 1700px;
	left: 856px;
	width: 145px;
	height: 40px;
}
}

.div5{
h1{
	color: rgba(112, 112, 112, 1);
	padding-bottom: 70px;
	padding-left: 152px;
}

.photo5{
	width: 483px;
	height: 282px;
	padding-left: 140px;
	
}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 152px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 152px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 554px;
	padding-bottom:108.5px;
}
}

.div6{
.photo6{
	width: 483px;
	height: 282px;
	padding-left: 718px;

}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 730.5px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 740.5px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 1132.5px;
	padding-bottom: 108.5px;
}
}

.div7{	

.photo7{
	width: 483px;
	height: 282px;
	padding-left: 1297px;
}

h2{
	color: rgba(112, 112, 112, 1);
	padding-top: 20px;
	padding-bottom: 33px;
	padding-left: 1309px;
	top: 1383px;
	left: 152px;
	width: 282px;
	height: 40px;
}

h5{
	color: rgba(112, 112, 112, 1);
	padding-left: 1309px;
	padding-bottom: 73px;
	top: 1456px;
	left: 152px;
	width: 446px;
	height: 48px;
}

h3{
	color: rgba(112, 112, 112, 1);
	padding-left: 1711px;
	padding-bottom: 103px;
}
}

.footer{
	background-color: #2E2E2E;
	top: 2547px;
	left: 0px;
	width: 1920px;
	height: 500px;
}

.footer-div{
	size: 20mx;
	color: white;
}
.footer-div2{
    size: 13mx;
	color: white;

}

#insta{
	size: 45px;
	padding-left: 1736px;
	width: 44px;
	height: 44px;
	
}
#fb{
	size: 45PX;
	padding-top: 81px;
	padding-left: 1658px;
	width: 44px;
	height: 44px;

}



#logo2{
	width: 122px;
	height: 95px;
}








